# Project exclude paths
/ExplosionNMS/target/
/ExplosionResistance/target/
/Explosionv1_16_R3/target/
/Explosionv1_18_R2/target/
/Explosionv1_19_R1/target/
/Explosionv1_19_R2/target/
/Explosionv1_19_R3/target/
/Explosionv1_20_R1/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/Explosionv1_20_R1/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/Explosionv1_20_R3/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/Explosionv1_20_R3/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/.idea/discord.xml
/Explosionv1_20_R1/target/Explosionv1_20_R1-1.0.jar
/Explosionv1_20_R1/target/Explosionv1_20_R1-1.0-remapped.jar
/Explosionv1_20_R1/target/Explosionv1_20_R1-1.0-remapped-obf.jar
/Explosionv1_20_R1/target/Explosionv1_20_R1-1.0-shaded.jar
/Explosionv1_20_R3/target/Explosionv1_20_R2-1.0.jar
/Explosionv1_20_R3/target/Explosionv1_20_R3-1.0.jar
/Explosionv1_20_R3/target/Explosionv1_20_R3-1.0-shaded.jar
/Explosionv1_20_R1/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/Explosionv1_20_R1/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/Explosionv1_20_R3/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/Explosionv1_20_R3/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/Explosionv1_20_R1/target/original-Explosionv1_20_R1-1.0.jar
/Explosionv1_20_R3/target/original-Explosionv1_20_R2-1.0.jar
/Explosionv1_20_R3/target/original-Explosionv1_20_R3-1.0.jar
/Explosionv1_20_R1/target/maven-archiver/pom.properties
/Explosionv1_20_R3/target/maven-archiver/pom.properties
/Explosionv1_20_R1/target/classes/me/cooleg/nms/v1_20_R1.class
/Explosionv1_20_R3/target/classes/me/cooleg/nms/v1_20_R3.class
